.popup__name {
  width: calc(100% - 72px);
  margin: 0 auto;
  border: 0px;
  border-bottom: 1px solid #000000;
  margin-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  
}

@media screen and (max-width: 768px) {
  .popup__name {
    width: calc(100% - 44px);
    margin-top: 75px;
  }
}
