.element__button {
  background-color: #FFFFFF;
  border: 0;
  width: 22px;
  height: 19px;
  margin-right: 30px;
  margin-left: auto;
}
.element__button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 1s;
}